<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <main>

        <nav >

                <ul class="opciones">
                <h1 id="pas">Papeleria Huauchinango</h1>


                        <img src="https://i.ibb.co/MPb59vJ/Logo-Papeleria.png" alt="">
                        <li><a href="#">Infomacion</a> </li>
                        <li><a href="#">Perfil</a> </li>
                        <li><a href="#">carrito</a> </li>

                 </ul>
        </nav>

            <section>
                <div class="box1" *ngFor="let productos of productoServise.productoM">

                    <img style="background-image: url({{productos.Imagen}});">

                    <h4 id="titulos">{{productos.Categoria}}</h4>
                    <p id="orientacion">{{productos.Descripcion}}</p>
                   </div>
            </section>
            <!-- <div id="fon">
                  <div class="box1">
                    <img src="https://i.ibb.co/3hVPj6h/Colores-3.jpg" alt="Colores-3">
                    <h4 id="titulos">$50</h4>
                    <p id="orientacion">Colores Berol</p>

                  </div>


                <div class="box1">
                    <img src="https://i.ibb.co/LSnRLVL/Colores-10.jpg" alt="">
                    <h4 id="titulos">$50</h4>
                    <p id="orientacion">Colores Berol</p>
                </div>

                <div class="box1">
                    <img src="https://i.ibb.co/pfCZPjM/Colores-5.jpg" alt="">
                    <h4 id="titulos">$50</h4>
                    <p id="orientacion">Colores Berol</p>
                </div>

                <div class="box1">
                    <img src="https://i.ibb.co/2c9MDkS/Colores-9.jpg" alt="">
                    <h4 id="titulos">$50</h4>
                    <p id="orientacion">Colores Berol</p>
                </div>

                <div class="box1">

                    <img src="https://i.ibb.co/dbdhx6P/Colores-13.jpg" alt="">
                    <h4 id="titulos">$50</h4>
                    <p id="orientacion">Colores Berol</p>
                </div>
                <div class="box1">
                    <img src="https://i.ibb.co/khzZBV9/Compas-1.jpg">
                    <h4 id="titulos">$50</h4>
                    <p id="orientacion">Colores Berol</p>
                </div>

                <div class="box1">
                    <img src="https://i.ibb.co/31djZWX/Compas-3.jpg">
                    <h4 id="titulos">$50</h4>
                    <p id="orientacion">Colores Berol</p>
                </div>

                <div class="box1">
                    <img src="https://i.ibb.co/vBNrjS6/Compas-5.jpg">
                    <h4 id="titulos">$50</h4>
                    <p id="orientacion">Colores Berol</p>

                </div>

                <div class="box1">
                    <img src="https://i.ibb.co/W6wJZSx/Compas-7.jpg">
                    <h4 id="titulos">$50</h4>
                    <p id="orientacion">Colores Berol</p>

                </div>

                <div class="box1">
                    <img src="https://i.ibb.co/qr6NB4T/Crayola-1.jpg">
                    <h4 id="titulos">$50</h4>
                    <p id="orientacion">Colores Berol</p>

                </div>

                <div class="box1">
                    <img src="https://i.ibb.co/XFwq6Mh/Crayola-3.jpg">
                    <h4 id="titulos">$50</h4>
                    <p id="orientacion">Colores Berol</p>

                </div>
                <div class="box1">
                  <img src="https://i.ibb.co/dPtwB3n/Crayola-5.jpg" alt="">
                  <h4 id="titulos">$50</h4>
                  <p id="orientacion">Colores Berol</p>
                </div>

                <div class="box1">
                  <img src="https://i.ibb.co/gr1Fwzf/Crayola-7.jpg" alt="">
                  <h4 id="titulos">$50</h4>
                  <p id="orientacion">Colores Berol</p>
                </div>

                <div class="box1">
                  <img src="https://i.ibb.co/G2GNf0S/Crayola-9.jpg" alt="">
                  <h4 id="titulos">$50</h4>
                  <p id="orientacion">Colores Berol</p>
              </div>
                <div class="box1">
                  <img src="https://i.ibb.co/7t2YfPh/Di-1.jpg" alt="">
                  <h4 id="titulos">$50</h4>
                  <p id="orientacion">Colores Berol</p>
              </div>

                <div class="box1">
                  <img src="https://i.ibb.co/cQjNs0D/Di-3.jpg" alt="">
                  <h4 id="titulos">$50</h4>
                  <p id="orientacion">Colores Berol</p>
              </div>

                <div class="box1">
                  <img src="https://i.ibb.co/7K93dzL/Di-5.jpg" alt="">
                  <h4 id="titulos">$50</h4>
                  <p id="orientacion">Diccionario Ingles-Easpañol</p>
              </div>

                <div class="box1">
                  <img src="https://i.ibb.co/4ST76r1/Di-7.jpg" alt="">
                  <h4 id="titulos">$50</h4>
                  <p id="orientacion">Diccionario Ingles-Easpañol</p>
              </div>

              <div class="box1">
                <img src="https://i.ibb.co/2vR9bnZ/Goma-1.jpg" alt="">
                <h4 id="titulos">$50</h4>
                <p id="orientacion">Diccionario Ingles-Easpañol</p>
            </div>

            <div class="box1">
              <img src="https://i.ibb.co/cyxrXgq/Goma-3.jpg" alt="">
              <h4 id="titulos">$50</h4>
              <p id="orientacion">Diccionario Ingles-Easpañol</p>
            </div>

            <div class="box1">
              <img src="https://i.ibb.co/HpbZDcv/Goma-5.jpg" alt="">
              <h4 id="titulos">$50</h4>
              <p id="orientacion">Diccionario Ingles-Easpañol</p>
            </div>

            <div class="box1">
              <img src="https://i.ibb.co/ZH8NMrd/Goma-7.jpg" alt="">
              <h4 id="titulos">$50</h4>
              <p id="orientacion">Diccionario Ingles-Easpañol</p>
            </div>

            <div class="box1">
              <img src="https://i.ibb.co/cN3PZLn/j-1.jpg" alt="">
              <h4 id="titulos">$50</h4>
              <p id="orientacion">Diccionario Ingles-Easpañol</p>
            </div>

            <div class="box1">
              <img src="https://i.ibb.co/0M9z0PS/j-3.jpg" alt="">
              <h4 id="titulos">$50</h4>
              <p id="orientacion">Diccionario Ingles-Easpañol</p>
            </div>

            <div class="box1">
              <img src="https://i.ibb.co/hK7sQCZ/lapicero-1.jpg" alt="">
              <h4 id="titulos">$50</h4>
              <p id="orientacion">Diccionario Ingles-Easpañol</p>
            </div>

            <div class="box1">
              <img src="https://i.ibb.co/NmTQfq9/lapicero-3.jpg" alt="">
              <h4 id="titulos">$50</h4>
              <p id="orientacion">Diccionario Ingles-Easpañol</p>
            </div>

            <div class="box1">
              <img src="https://i.ibb.co/wCKcyGN/lapicero-5.jpg" alt="">
              <h4 id="titulos">$50</h4>
              <p id="orientacion">Diccionario Ingles-Easpañol</p>
            </div>

            <div class="box1">
              <img src="https://i.ibb.co/SwR4KcR/lapicero-7.jpg" alt="">
              <h4 id="titulos">$50</h4>
              <p id="orientacion">Diccionario Ingles-Easpañol</p>
            </div>

            <div class="box1">
              <img src="https://i.ibb.co/gFh2CfN/lapicero-9.jpg" alt="">
              <h4 id="titulos">$50</h4>
              <p id="orientacion">Diccionario Ingles-Easpañol</p>
              <button type="button" class="btn btn-dark">Compra yaa¡¡</button>
            </div>


</div> -->
    </main>

    <footer>
        <div>
            <h2>Papeleria Huauchinango
            </h2>
            <li><a href="">Perfil de facebook</a> </li>
            <li><a href="">NUMERO DE TELEFONO 764-234-4322</a> </li>
            <li><a href="">Acerca de</a> </li>
            <li><a href="">Pagina de facebook</a> </li>
            <li>Huauchinango Puebla</li>
            <li>CDP. 73161</li>


        </div>
        <h3>Derechos reservados Papeleria Huauchinango</h3>
        </footer>


</body>
</html>
