* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

html {
  font-size: 62.5%;
}

.opciones {
  background-color: #131F60;
  padding: 1rem;
  list-style: none;
  text-align: right;
  color: white;
}

.opciones li {
  display: inline-block;
  font-size: 1.5rem;
  margin: 1rem;
  padding-inline: 1rem;
  padding-top: 1rem;
}

.box1 {
  width: 15%;
  border-radius: 1.6rem;
  margin-top: 2rem;
  float: right;
  justify-content: center;
  padding: 15px;
}

.fon {
  display: block;
  background-color: aquamarine;
  margin-top: 1rem;
  float: left;
}

footer {
  width: 100%;
  float: left;
  display: block;
  background-color: #131F60;
  color: aliceblue;
}

#pas {
  display: block;
  float: left;
  font-size: 25px;
  margin-right: 80%;
}

.info {
  display: block;
  width: 100%;
  float: left;
  font-size: 25px;
  padding: 5%;
}

#orientacion {

  margin-top: 1rem;
  color: rgb(11, 11, 11);
  text-align: center;
  padding-right: 30%;
}


.letranav {
  font-family: 'Dongle';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 22px;
  color: #FFFFFF;
}

.letra {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 22px;
  color: #FFFFFF;
}

/* solo la linea de los botones */
nav ul li a::before {
  display: block;
  content: '';
  width: 0%;
  background: rgb(243, 234, 234);
  height: 6px;
  top: 0;
  position: absolute;
  transition: width 0.2s;
  background-color: #fff;
}

nav ul li a:hover::before {
  width: 30%;
}

.nav-item {
  margin-left: 10%;
  margin-top: 20px;
  width: 150px;
  height: 50px;
}

/* Contenedor de los botones en la nav */
.con {
  position: relative;
  left: 9%;
}

form {
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  width: 400px;
  height: 40px;
}

/* para la imagen de la papeleria */
.papeleria {
  width: 130px;
  height: 100px;
  position: relative;
  left: 8%;
  margin-right: -159px;
}

/* letra de los botones de la navbar */
.letra {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 22px;
  color: #FFFFFF;
}

.card {
  border-color: #334DD1;
  border-width: 3px;
  font-size: large;
  border-radius: 3rem;
  margin-top: 1%;
  float: right;
  margin-right: 1%;
  outline-width: 12px;
  height: 380px;
}

img {
  width: 150px;
  height: 170px;
  background-size: cover;
  position: relative;
  left: 25%;
  top: 2px;

}

.card-body {
  justify-content: center;
  position: relative;
  left: 15%;
  top: 5%;
}

.conteCategoria {
  justify-content: center;
  color: rgb(11, 11, 11);
  text-align: center;
  padding-right: 30%;
}

.conteDescripcion {
  justify-content: center;
  color: rgb(11, 11, 11);
  text-align: center;
  height: 40%;
  width: 80%;
  position: relative;
  left: -6%;
  top: 5%;
}

.btnVer {
  border: none;
  outline: none;
  background: #334DD1;
  color: rgb(0, 0, 0);
  font-size: 20px;
  border-radius: 10px;
  width: 40%;
  height: 15%;
  position: relative;
  left: 15%;
  top: 15%;
}

.btnVer:hover {
  background: #088ae1;
}

.btn {
  border: none;
  outline: none;
  background: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 20px;
  border-radius: 10px;
  width: 150px;
  height: 40px;

}

.btn:hover {
  background: #088ae1;
}
