* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
html {
  font-size: 62.5%;
}
.letranav {
  font-family: 'Dongle';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 22px;
  color: #FFFFFF;
}
.letra {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 22px;
  color: #FFFFFF;
}

/* solo la linea de los botones */
nav ul li a::before {
  display: block;
  content: '';
  width: 0%;
  background: rgb(243, 234, 234);
  height: 6px;
  top: 0;
  position: absolute;
  transition: width 0.2s;
  background-color: #fff;
}

nav ul li a:hover::before {
  width: 52%;
}

.nav-item {
  margin-left: 10%;
  margin-top: 20px;
  width: 150px;
  height: 50px;
}

/* Contenedor de los botones en la nav */
.con {
  position: relative;
  left: 12%;
}
/* para el formuladio que tiene el de buscar */
.d-flex {
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  border-radius: -89px;
  width: 400px;
  height: 40px;
  margin-right: -8%;
}
/* para la imagen de la papeleria para mover el titulo de papelria en linea huauchinango */
.papeleria {
  width: 110px;
  height: 80px;
  position: relative;
  left: 90%;
  margin-right: -45px; /*aqui se mueve el letrero */
}
/* letra de los botones de la navbar */
.letra {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 22px;
  color: #FFFFFF;
}

.card {
  border-color: #334DD1;
  border-width: 3px;
  font-size: large;
  border-radius: 3rem;
  margin-top: 1%;
  float: right;
  margin-right: 1%;
  outline-width: 12px;
  height: 380px;
}

img {
  width: 150px;
  height: 170px;
  background-size: cover;
  position: relative;
  left: 25%;
  top: 2px;

}

.card-body {
  justify-content: center;
  position: relative;
  left: 15%;
  top: 5%;
}

.conteCategoria {
  justify-content: center;
  color: rgb(11, 11, 11);
  text-align: center;
  padding-right: 30%;
}

.conteDescripcion {
  justify-content: center;
  color: rgb(11, 11, 11);
  text-align: center;
  height: 40%;
  width: 80%;
  position: relative;
  left: -6%;
  top: 5%;
}

.btnVer {
  border: none;
  outline: none;
  background: #334DD1;
  color: rgb(0, 0, 0);
  font-size: 25px;
  border-radius: 10px;
  width: 40%;
  height: 16%;
  position: relative;
  left: 17%;
  top: 15%;
}

.btnVer:hover {
  background: #088ae1;
}

.btn {
  border: none;
  outline: none;
  background: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 20px;
  border-radius: 10px;
  width: 150px;
  height: 40px;

}

.btn:hover {
  background: #088ae1;
}

.material-icons
{
  font-size: 25px;
  position: relative;
    left: 15%;
    top: 10%;
}
/* Menú costado */

/* Contenido del menu, esto es el icono (posición) y tamaño */
.container .btn-menu,
.logo,
label {
  float: left;
  line-height: 100px;
  color: #fff;
  font-size: 50px;
  cursor: pointer;
  position: relative;
  left: -1470px;      /*con este se mueve el icono de rayas menu */
}

/* Componentes del menú del costado, botones y demás */

/* Botón menu */
#btn-menu {
  display: none;
}

/* Contenedor del menu, cuando se abre y su posición */
.container-menu {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}


/* Visibilidad del menú costado, traerlo */
#btn-menu:checked~.container-menu {
  opacity: 4;
  visibility: visible;
}

/* Contenido del menú (Inicio, Usuario,etc, además del color del fondo del mismo) */
.cont-menu {
  width: 100%;
  max-width: 250px;
  background: #131F60;
  height: 100vh;
  position: relative;
  transition: all 500ms ease;
  transform: translateX(-100%);
}
/* Posición del contenedor (lo despega del lado izquierdo, dejalo así) */
#btn-menu:checked~.container-menu .cont-menu {
  transform: translateX(0%);
}
/* Determina la altura del contenido del menú */
.cont-menu nav {
  transform: translateY(100%);
}

/* Tamaño, tipo de letra y demás de Inicio, cerrar sesión  */
.cont-menu nav a {
  display: block;
  text-decoration: none;
  padding: 20px;
  color: #c7c7c7;
  border-left: 5px solid transparent;
  transition: all 400ms ease;
  position: relative;
  top: -290px;
}

/* Color de cuando pasas el puntero por los botones */
.cont-menu nav a:hover {
  border-left: 5px solid #c7c7c7;
  background: #1f1f1f;
}

/* Tamaño y color del icon de X (cerrar) */
.cont-menu label {
  position: absolute;
  right: 5px;
  top: 10px;
  color: rgb(250, 12, 12);
  cursor: pointer;
  font-size: 98px;
}
.usuario{
  width: 150px;
  height: 150px;
  position: relative;
    left: 15%;
    top: -300px;
}
