*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
}
.opciones li{
  display: inline-block;
  font-size: 20px;
  margin: 3px;
  padding-inline: 1rem;
  font-weight: bold;
  padding-left: 10%;
  margin-top: 20px;

}

body{
  background-color: #131F60;

}
.formulario{
  font-size: large;
  font-weight: bold;
  background-color:  #334DD1;
  width: 30%;
  height: 30%;
  border-radius: 1.6rem;
  margin-top: 3rem;
  float: right;
  display: flex;
  justify-content: center;
  margin-right: 3%;

}

nav{
  padding-left: 20rem;
}


.imagen{
  background: url(imagenes/logo_resized.png);
  width: 35.2%;
  margin-top: 5rem;
  margin-left: 10rem;
  float: left;

}
.imagen>img{
  margin: 33%;
}

.cuenta{
  height: 60rem;
}

h2{
  height: 30rem;
  padding-left: 15rem;
  color: aliceblue;

}
button{
  justify-content: center;
  margin-left: 30%;
  height: 3rem;
  width: 6rem;

}




