<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
</head>


<body>

  <section>
    <nav>
    <ul class="opciones">
        <li><a href="">Inicio</a></li>
        <li><a href="">Contacto</a> </li>
        <li><a href="../vista-general/vista-general.component.html">Inicio Sesión</a> </li>
        </ul>

  </nav>
  <section>


  <form action="">


    <div class="formulario">

      <div class="col-lg-5" >


        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="Nombre" placeholder="Nombre" name="Nombre">
        </div>

        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Apellido</label>
          <input type="text" class="form-control" id="Apellido" placeholder="Apellido" name="Apellido">
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Correo</label>
          <input type="text" class="form-control" id="correo" placeholder="Correo" name="Correo">
        </div>

        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Teléfono</label>
          <input type="text" class="form-control" id="telefono" placeholder="Telefono" name="Telefono">
        </div>

        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="Contraseña" placeholder="Contraseña" name="contraseña">
        </div>

        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Confirmar Contraseña</label>
          <input type="password" class="form-control" id="Confirmacion" placeholder="Contraseña" name="confirmacion">
        </div>
        <div>
          <button type="button" class="btn btn-dark">Registrar</button>
        </div>

      </div>
    </div>

    </form>

    </section>
    <div id="font">
        <div class="imagen">
        <img clas="imge">

      </div>

  </div >
  <div class="cuenta">
  <h2></h2>
  <h2>¿ya tienes cuenta? <a href="">inicia sesión Aqui</a></h2>
  </div>

  </section>

</body>
</html>
