<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <section>
    <nav>
    <ul class="opciones">
      <div class="imagen">
        <img class="papeleria" id="papeleria" src="https://i.ibb.co/MPb59vJ/Logo-Papeleria.png" alt="Logo-Papeleria" >
      </div>
        <li><a href="">Inicio</a></li>
        <li><a href="">Contacto</a> </li>

        </ul>

  </nav>


  <section>


  <form #Form="ngForm">


    <div class="formulario">
      <form class="row g-3 needs-validation" novalidate>

        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">CodigoBarras</label>
          <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationCustom02" class="form-label">Last name</label>
          <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>

        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">First name</label>
          <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationCustom02" class="form-label">Last name</label>
          <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>

        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">First name</label>
          <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationCustom02" class="form-label">Last name</label>
          <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">First name</label>
          <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationCustom02" class="form-label">Last name</label>
          <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">First name</label>
          <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationCustom02" class="form-label">Last name</label>
          <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">First name</label>
          <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationCustom02" class="form-label">Last name</label>
          <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">First name</label>
          <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
      </form>



        </div>
    <section>
      <div id="tabla">

        <div class="col-lg-18">
          <table class="table table-dark">
          <thead>
            <tr>
              <th>Codigo de barras</th>
              <th>Categoria</th>
              <th>Marca</th>
              <th>Descripcion</th>
              <th>Piezas</th>
              <th>Color</th>
              <th>Unidad Mayoreo</th>
              <th>paquetes en Existencias</th>
              <th>Unidades en existencias</th>
              <th>Entradas</th>
              <th>Precio Unidad</th>
              <th>Precio Paquete</th>
              <th>Precio Mayoreo</th>

              <th>Editar</th>
              <th>Eliminar</th>
            </tr>
          </thead>
            <tr *ngFor="let productos of productosService.productoM">

              <td>{{productos.CodigoBarras}}</td>
              <td>{{productos.Categoria}}</td>
              <td>{{productos.Marca}}</td>
              <td>{{productos.Descripcion}}</td>
              <td>{{productos.Piezas}}</td>
              <td>{{productos.Color}}</td>
              <td>{{productos.UnidadesMayoreo}}</td>
              <td>{{productos.ExistenciasPaquete}}</td>
              <td>{{productos.ExistenciasUnidad}}</td>
              <td>{{productos.Entradas}}</td>
              <td>{{productos.PrecioUnidad}}</td>
              <td>{{productos.PrecioMayoreo}}</td>
              <td>{{productos.CompraPaquete}}</td>
              <td>
                <button class ="btn btn-primary" (click)="obtenerProducto(productos)">
                  <i class = "material-icons">edit</i>

                </button>
              </td>
              <td>
                <button class ="btn btn-danger" (click)="eliminar(productos.CodigoBarras)" >
                  <i class = "bi bi-trash3">Eliminar</i>
                </button>
              </td>
            </tr>
        </table>
        </div>
      </div>
    </section>
    </form>
    </section>
  </section>
</body>

</html>
