<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <section>
    <nav>
    <ul class="opciones">
      <div class="imagen">
        <img class="papeleria" id="papeleria" src="https://i.ibb.co/MPb59vJ/Logo-Papeleria.png" alt="Logo-Papeleria" >
      </div>
        <li><a href="">Inicio</a></li>
        <li><a href="">Contacto</a> </li>

        </ul>

  </nav>


  <section>


  <form #form="ngForm">


    <div class="formulario">
      <form class="row g-3 needs-validation" novalidate>

        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Categoria</label>
          <input type="text" class="form-control" id="Categoria" value="Categoria" name="Categoria"
          [(ngModel)]="productosService.productoSelecto.Categoria"
          >

        </div>
        <div class="col-md-4">
          <label for="validationCustom02" class="form-label">Codigo de Barras</label>
          <input type="text" class="form-control" id="CodigoBarras" value="Codigo de Barras" name="CodigoBarras"
          [(ngModel)]="productosService.productoSelecto.CodigoBarras"
          >
        </div>

        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Color</label>
          <input type="text" class="form-control" id="Color" value="Color" name="Color"
          [(ngModel)]="productosService.productoSelecto.Color"
          >

        </div>
        <div class="col-md-4">
          <label for="validationCustom02" class="form-label">Compra Paquete</label>
          <input type="number" class="form-control" id="CompraPaquete" value="Compra Paquete" name="CompraPaquete"
          [(ngModel)]="productosService.productoSelecto.CompraPaquete"
          >

        </div>

        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Descripcion</label>
          <input type="text" class="form-control" id="Descripcion" value="Descripcion" name="Descripcion"
          [(ngModel)]="productosService.productoSelecto.Descripcion"
          >

        </div>
        <div class="col-md-4">
          <label for="validationCustom02" class="form-label">Entradas</label>
          <input type="number" class="form-control" id="Entradas" value="Entradas" name="Entradas"
          [(ngModel)]="productosService.productoSelecto.Entradas"
          >

        </div>
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Paquetes en Existencias</label>
          <input type="number" class="form-control" id="ExistenciasPaquete" value="Paquetes en exisia"  name="ExistenciasPaquete"
          [(ngModel)]="productosService.productoSelecto.ExistenciasPaquete"
          >

        </div>
        <div class="col-md-4">
          <label for="validationCustom02" class="form-label">Unidades en Existencias</label>
          <input type="number" class="form-control" id="ExistenciasUnidad" value="Unidades en existencia" name="ExistenciasUnidad"
          [(ngModel)]="productosService.productoSelecto.ExistenciasUnidad"
          >
        </div>
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">link de imagen 1</label>
          <input type="text" class="form-control" id="Imagen" value="Imagen"  name="Imagen" name="Imagen"
          [(ngModel)]="productosService.productoSelecto.Imagen"
          >

        </div>
        <div class="col-md-4">
          <label for="validationCustom02" class="form-label">Link de imagen 2</label>
          <input type="text" class="form-control" id="Imagen2" value="Imagen 2"  name="Imagen2"
          [(ngModel)]="productosService.productoSelecto.Imagen2"
          >

        </div>
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Marca</label>
          <input type="text" class="form-control" id="Marca" value="Marca" name="Marca"
          [(ngModel)]="productosService.productoSelecto.Marca"
          >

        </div>
        <div class="col-md-4">
          <label for="validationCustom02" class="form-label">Piezas</label>
          <input type="number" class="form-control" id="Piezas" value="Piezas" name="Piezas"
          [(ngModel)]="productosService.productoSelecto.Piezas"
          >


        </div>
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Precio Mayoreo</label>
          <input type="number" class="form-control" id="PrecioMayoreo" value="Precio a mayoreo"  name="PrecioMayoreo"
          [(ngModel)]="productosService.productoSelecto.PrecioMayoreo"
          >

        </div>

        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Precio Paquete</label>
          <input type="number" class="form-control" id="PrecioPaquete" value="Precio Paquete" name="PrecioPaquete"
          [(ngModel)]="productosService.productoSelecto.PrecioPaquete"
          >
        </div>

        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Precio Unidad</label>
          <input type="number" class="form-control" id="PrecioUnidad" value="Precio Unidad" name="PrecioUnidad"
          [(ngModel)]="productosService.productoSelecto.PrecioUnidad"
          >
        </div>

        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Unidadades Mayoreo</label>
          <input type="number" class="form-control" id="UnidadesMayoreo" value="Unidades en Mayoreo" name="UnidadesMayoreo"
          [(ngModel)]="productosService.productoSelecto.UnidadesMayoreo"
          >

        </div>

        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">id del producto</label>
          <input type="number" class="form-control" id="idProducto" value="Mark" name="idProducto">


        </div>

        <div class="col-12">
          <button class="btn btn-primary" type="submit" (click)="insertarProducto(form)">Registrar</button>
        </div>
      </form>

        </div>
    <section>
      <div id="tabla">

        <div class="col-lg-18">
          <table class="table table-dark">
          <thead>
            <tr>
              <th>Codigo de barras</th>
              <th>Categoria</th>
              <th>Marca</th>
              <th>Descripcion</th>
              <th>Piezas</th>
              <th>Color</th>
              <th>paquetes en Existencias</th>
              <th>Unidades en existencias</th>
              <th>Entradas</th>
              <th>Precio Unidad</th>
              <th>Precio Paquete</th>
              <th>Precio Mayoreo</th>
              <th>Editar</th>
              <th>Eliminar</th>
            </tr>
          </thead>
            <tr *ngFor="let productos of productosService.productoM">

              <td>{{productos.CodigoBarras}}</td>
              <td>{{productos.Categoria}}</td>
              <td>{{productos.Marca}}</td>
              <td>{{productos.Descripcion}}</td>
              <td>{{productos.Piezas}}</td>
              <td>{{productos.Color}}</td>
              <td>{{productos.ExistenciasPaquete}}</td>
              <td>{{productos.ExistenciasUnidad}}</td>
              <td>{{productos.Entradas}}</td>
              <td>{{productos.PrecioUnidad}}</td>
              <td>{{productos.PrecioMayoreo}}</td>
              <td>{{productos.CompraPaquete}}</td>
              <td>
                <button class ="btn btn-primary" (click)="obtenerProducto(productos)">
                  <i class = "material-icons">edit</i>

                </button>
              </td>
              <td>
                <button class ="btn btn-danger" (click)="eliminar(productos.CodigoBarras)" >
                  <i class = "material-icons">delete</i>
                </button>
              </td>
            </tr>
        </table>
        </div>
      </div>
    </section>
    </form>
    </section>
  </section>
</body>

</html>
