*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
}
.opciones li{
  display: inline-block;
  font-size: 20px;
  margin: 10px;
  padding-inline: 1rem;
  font-weight: bold;
  padding-left: 20%;
  margin-top: 60px;

}

body{
  background-color: #131F60;

}
.formulario{
  font-size: large;
  font-weight: bold;
  background-color:  #334DD1;
  width: 50%;
  height: 40%;
  border-radius: 1.6rem;
  margin-top: 3rem;
  float: right;
  display: flex;
  justify-content: center;
  margin-right: 25%;

}

nav{
  padding-left: 20rem;
}

.cuenta{
  height: 60rem;
}

h2{
  height: 30rem;
  padding-left: 15rem;
  color: rgb(9, 124, 225);

}
/* .btn-primary{
  justify-content: center;
  margin-left: 30%;
  height: 3rem;
  width: 6rem;
  margin-top: 10px;
  right: 20px;

} */
.papeleria{
position: absolute;
width: 10%;
height: 10%;
margin-top: 20px;
/* left: 96px;
top: 0%;
background-color: #131F60; */
}
.tabla{
  padding-top: 30%;
}
.col-md-4{
  margin-top: 10px;
  margin-left: 10%;

}
.col-12{
  justify-content: center;
  margin-left: 20%;
  height: 6rem;
  width: 6rem;
  margin-top: 10px;
  right: 20px;
  padding-top: 10px;
  
}
