*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
html{
  font-size: 62.5%;
}
.opciones{
  background-color: #131F60;
  padding: 1rem;
  list-style: none;
  text-align: right;
  color: white;
}
.opciones img{
  width: 150px;
  height: 110px;

}
.opciones li{
  display: inline-block;
  font-size: 1.5rem;
  margin: 1rem;
  padding-inline: 1rem ;
  padding-top: 1rem;
}
img{
  
  width: 60%;
  height: 8.8rem;
}
.box1{
  width: 15%;
  border-radius: 1.6rem;
  margin-top: 2rem;
  float: right;
  justify-content: center;
  padding: 15px;
}
.fon{
  display: block;
  background-color: aquamarine;
  margin-top: 1rem;
  float: left;

}

footer{
  width: 100%;
  float: left;
  display:block;
  background-color:#131F60;
  color: aliceblue;

}
#pas{
  display: block;
  float: left;
  font-size: 25px;
  margin-right: 80%;
}

.info{
  display: block;
  width: 100%;
  float: left;
  font-size: 25px;
  padding: 5%;
}
#orientacion{

  margin-top: 1rem;
  color: rgb(11, 11, 11);
  text-align: center;

  padding-right: 30%;
  }
  #titulos{

    color: rgb(11, 11, 11);
    text-align: center;
    padding-right: 30%;
  }




