 body{
  margin: 0;
  padding: 0;
  background-color: #131F60;
  font-family: 'Poppins';
  height: 100vh;
}

.letra{
  font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 22px;
    color: #FFFFFF;
}

.letranav{
  font-family: 'Dongle';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 22px;
    color: #FFFFFF;
}

/*
para mover el contenedor azul */
.login-imagen{
  width: 380px;
    height: 560px;
    background: rgba(51, 77, 209, 0.83);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 90px 30px;
    border-radius: 70px;
}
/* para mover la posisicion de arriba hacia abajo del login */
.login-imagen .user{
  width: 160px;
  height: 160px;
  position: absolute;
  top: 40px;
  left: calc(50% - 80px);
}

.login-imagen label {
  padding-right:0px;
  display: block;
}
/* para que el boton este mas abajo del formulario */
.login-imagen input {
  width: 100%;
  margin-bottom: 45px;
}
.login-imagen input[type="password"]
{
  border: none;
  border-bottom: 1px solid #fff;
  background: #fff;
  height: 20px;
  font-size: 16px;
}

/* para el boton */
.login-imagen input[type="submit"] {
  border: none;
  outline: none;
  background: #222222;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  position: absolute;
    top: 450px;
    left: 110px;
}
/* darle color al boton cuando el cursor este encima de el */
.login-imagen input[type="password"] {
  cursor: pointer;
  background: #088ae1;
  color: #000;
}

header {
width: 100%;
clear: both;
content:'';
display: table;
}

.menu {
width: 900px;
margin: 0 auto;
}

/* para la imagen de la papeleria */
.papeleria{
  position: absolute;
width: 288px;
height: 225px;
left: 36px;
top: 100px;
}

nav {
float: center;
}

nav ul li {
list-style: none;
margin-left: 90px;
padding: 20px 60px;
float: left;
position: relative;
}
/* para el color de las letras de la navar */
nav ul li a {
text-decoration: none;
color: #fff;
font-weight: bold;
}

nav ul li a::before {
display: block;
content: '';
width: 0%;
background: rgb(243, 234, 234);
height: 6px;
top:0;
position: absolute;
transition: width 0.2s;
}

nav ul li a:hover::before {
width: 60%;
}

/* para mover el formulario */
#mover{
  padding-top: 45%;
}

.btn {
  border: none;
  outline: none;
  background: #222222;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  position: absolute;
  top: 450px;
  left: 120px;
}

.btn:hover {
  background: #088ae1;
}
