<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <section>
    <nav>
    <ul class="opciones">
      <div class="imagen">
        <img class="papeleria" id="papeleria" src="https://i.ibb.co/MPb59vJ/Logo-Papeleria.png" alt="Logo-Papeleria" >
      </div>
        <li><a href="">Inicio</a></li>
        <li><a href="">Contacto</a> </li>

        </ul>

  </nav>


  <section>


  <form #Form="ngForm">


    <div class="formulario">

      <div class="col-lg-5" >
        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Codigo de barras</label>
          <input type="text" class="form-control" id="codigoBarras" placeholder="Codigo de Barras" name="codigoBarras"
          [(ngModel)]="productosService.productoSelecto.CodigoBarras"
          >
        </div>

        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Categoria</label>
          <input type="text" class="form-control" id="Categoria" placeholder="Categoria" name="Categoria"
          [(ngModel)]="productosService.productoSelecto.Categoria"
          >
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Marca</label>
          <input type="text" class="form-control" id="Marca" placeholder="Marca" name="Marca"
          [(ngModel)]="productosService.productoSelecto.Marca"
          >
        </div>

        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Descripcion</label>
          <input type="text" class="form-control" id="Descripcion" placeholder="Descripcion" name="Descripcion"
          [(ngModel)]="productosService.productoSelecto.Descripcion"
          >
        </div>

        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Piezas</label>
          <input type="number" class="form-control" id="Piezas" placeholder="Piezas a registrar" name="Piezas"
          [(ngModel)]="productosService.productoSelecto.Piezas"
          >
        </div>

        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Color</label>
          <input type="text" class="form-control" id="Color" placeholder="Color" name="Color"
          [(ngModel)]="productosService.productoSelecto.Color"
          >
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">url de imagen</label>
          <input type="text" class="form-control" id="Imagen" placeholder="url de la imagen 1" name="Imagen"
          [(ngModel)]="productosService.productoSelecto.Imagen"
          >
        </div>

        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Url de imagen2</label>
          <input type="text" class="form-control" id="Imagen2" placeholder="url de la imagen 2" name="Imagen2"
          [(ngModel)]="productosService.productoSelecto.Imagen2"
          >
        </div>

        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Unidades por mayoreo</label>
          <input type="text" class="form-control" id="UnidadesMayoreo" placeholder="Unidades por Mayoreo" name="UnidadesMayoreo"
          [(ngModel)]="productosService.productoSelecto.UnidadesMayoreo"
          >
        </div>

        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Paquetes en existencias</label>
          <input type="number" class="form-control" id="Existencias" placeholder="Paquetes en Existencias" name="ExistenciasPaquete"
          [(ngModel)]="productosService.productoSelecto.ExistenciasPaquete"
          >
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Unidades en existencias</label>
          <input type="number" class="form-control" id="Existencias" placeholder="Unidades en Existencias" name="ExistenciasUnidades"
          [(ngModel)]="productosService.productoSelecto.ExistenciasUnidad"
          >
        </div>

        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Entradas</label>
          <input type="number" class="form-control" id="PrecioPaquete" placeholder="Entradas" name="Entradas"
          [(ngModel)]="productosService.productoSelecto.Entradas"
          >
        </div>

        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Precio por Unidad</label>
          <input type="number" class="form-control" id="Existencias" placeholder="Existencias" name="PrecioUnidad"
          [(ngModel)]="productosService.productoSelecto.PrecioUnidad"
          >
        </div>

        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Precio Paquete</label>
          <input type="number" class="form-control" id="PrecioMayoreo" placeholder="Precio Mayoreo" name="PrecioPaquete"
          [(ngModel)]="productosService.productoSelecto.PrecioMayoreo"
          >
        </div>

        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Precio Mayoreo</label>
          <input type="number" class="form-control" id="PrecioPaquete" placeholder="Precio Por Paquete" name="PrecioMayoreo"
          [(ngModel)]="productosService.productoSelecto.PrecioPaquete"
          >
        </div>

        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Compra De paquete</label>
          <input type="number" class="form-control" id="CompraPaquete" placeholder="Precio Por Paquete" name="CompraPaquete"
          [(ngModel)]="productosService.productoSelecto.CompraPaquete"
          >
        </div>
        <div>
          <button type="button" class="btn btn-dark" *ngIf="productosService.actualizar==false" (click)="insertarProducto(Form)">Registrar</button>
          <button type="button" class="btn btn-dark" *ngIf="productosService.actualizar==true" (click)="actualizarprod(Form)">Registrar</button>

        </div>

      </div>
    </div>
    <section>
      <div id="tabla">

        <div class="col-lg-18">
          <table class="table table-dark">
          <thead>
            <tr>
              <th>Codigo de barras</th>
              <th>Categoria</th>
              <th>Marca</th>
              <th>Descripcion</th>
              <th>Piezas</th>
              <th>Color</th>
              <th>Unidad Mayoreo</th>
              <th>paquetes en Existencias</th>
              <th>Unidades en existencias</th>
              <th>Entradas</th>
              <th>Precio Unidad</th>
              <th>Precio Paquete</th>
              <th>Precio Mayoreo</th>
              <th>Compra Paquete</th>
              <th>Editar</th>
              <th>Eliminar</th>


            </tr>
          </thead>



            <tr *ngFor="let productos of productosService.productoM">

              <td>{{productos.CodigoBarras}}</td>
              <td>{{productos.Categoria}}</td>
              <td>{{productos.Marca}}</td>
              <td>{{productos.Descripcion}}</td>
              <td>{{productos.Piezas}}</td>
              <td>{{productos.Color}}</td>
              <td>{{productos.Imagen}}</td>
              <td>{{productos.Imagen2}}</td>
              <td>{{productos.UnidadesMayoreo}}</td>
              <td>{{productos.ExistenciasPaquete}}</td>
              <td>{{productos.ExistenciasUnidad}}</td>
              <td>{{productos.Entradas}}</td>
              <td>{{productos.PrecioUnidad}}</td>
              <td>{{productos.PrecioMayoreo}}</td>
              <td>{{productos.CompraPaquete}}</td>
              <td>
                <button class ="btn btn-primary" (click)="obtenerProducto(productos)">
                  <i class = "material-icons">edit</i>
                </button>

              </td>
              <td>
                <button class ="btn btn-danger" (click)="eliminar(productos.CodigoBarras)" >
                  <i class = "bi bi-trash3">Eliminar</i>
                </button>
              </td>
            </tr>
        </table>
        </div>
      </div>
    </section>
    </form>
    </section>
  </section>
</body>
</html>
